
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

.DS_Store
.vscode/

DerivedData/
build/
Build/
/.build

*.xcworkspace
*.xcuserstate
*.xcuserdata/

.build/
Package.resolved
.swiftpm/

*.app
*.ipa
*.dmg
*.zip

*.xcuserdatad
*.moved-aside

buildServer.json
